body {
    background-color: #f4f7f6;
    font-family: 'Poppins', sans-serif;
}

.card {
    border: none;
    border-radius: 15px;
}

.card-header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.form-label {
    font-weight: 500;
}

.input-group-text {
    background-color: #e9ecef;
    border-right: 0;
    color: #7f8c8d;
}

.form-control {
    height: 50px;
    border-left: 0;
    padding-left: 0.5rem;
}

.form-control:focus {
    box-shadow: none;
    border-color: #bdc3c7;
}

.input-group:focus-within .input-group-text {
    color: #2c3e50;
    background-color: #e9ecef;
    border-color: #bdc3c7;
}

.btn-primary {
    background-color: #343a40;
    border-color: #343a40;
    font-weight: 500;
    padding: 10px 20px;
}

.btn-primary:hover {
    background-color: #23272b;
    border-color: #23272b;
}

.btn-outline-secondary {
    font-weight: 500;
    padding: 10px 20px;
}