* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 800px;
    border-radius: 10px;
}

.left {
    background-color: #4CAF50; /* Warna hijau */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-placeholder {
    width: 80%;
    height: 50%;
    border: 2px dashed #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.right {
    background-color: white;
    width: 50%;
    padding: 40px;
    border-radius: 0 10px 10px 0;
}

h2 {
    margin-bottom: 20px;
}

.social-buttons {
    margin-bottom: 20px;
}

.social-buttons button {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.facebook {
    background-color: #3b5998;
    color: white;
}

.instagram {
    background-color: #C13584;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit {
    background-color: #000;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
