body {
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
}

.contact-hero-section {
    height: 60vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: var(--white);
}

.hero-content {
    z-index: 999;
}

.hero-image-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}


.contact-hero-text h1 {
    font-size: 3em; 
    color: var(--white);
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
}


.contact-hero-text .subtitle {
    font-size: 1.2em;
    color: var(--accent-color); 
    font-weight: 600;
    text-transfor: uppercase;
    margin-bottom: 15px;
    text-align: center;
}

.contact-hero-text p:not(.subtitle) {
    font-size: 1em;
    color: var(--light-gray);
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Filter Kategori */
.category-filters {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}
.filter-button {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #555;
    padding: 8px 25px;
    border-radius: 20px;
    font-weight: 500;
    transition: all 0.3s;
}
.filter-button:hover, .filter-button.active {
    background-color: #28a745;
    color: white;
    border-color: #28a745;
}

/* package */
.package-card-new {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    height: 100%;
}
.package-card-new:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
}
.package-card-new .package-image {
    width: 100%;
    height: 220px;
    object-fit: cover;
}
.package-card-new .package-content {
    padding: 20px;
}
.package-card-new .package-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
}
.package-card-new .package-description {
    font-size: 0.9rem;
    color: #777;
    margin-top: 10px;
    
}
.package-card-new .package-price-details {
    margin-top: 20px;
    border-top: 1px solid #eee;
    padding-top: 15px;
}
.package-card-new .package-price {
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
}
.package-card-new .package-price-info {
    font-size: 0.85rem;
    color: #777;
}

.package-item {
    transition: transform 0.3s ease, opacity 0.3s ease;
}